/**************************************/
/* elements
/**************************************/

@canvascolor: #222;
@footerheight: 30px;

html, body {
	height: 100%;
}

/* sticky footer and header stuff */
#wrap {
	min-height: 100%;
	.container {
		padding-bottom: @footerheight * 2;
	}
}


header {
	height: 75px;
	
	margin: 0 auto; 
	padding: 0 20px;
	
	background: @canvascolor;
	-webkit-box-shadow: 0 -5px 5px darken(@canvascolor, 10%) inset;
	-moz-box-shadow:0 -5px 5px darken(@canvascolor, 10%) inset;
	box-shadow: 0 -5px 5px darken(@canvascolor, 10%) inset;
	
	
	border-bottom: solid 1px darken(@canvascolor, 13%);
	
	color: #fff;
	
	h1, h2, h3, h4, h5, h6 {
		border-bottom: none;
		text-shadow: 1px 1px 2px @basecolor;
		font-size: 2.2em;
		color: #fff;
	}
	
	nav {
		position: relative;
		height: 75px;
		
		top: 46px;
		
		.button {
			border-color: darken(@canvascolor, 13%);
		}		
	}
	.tools {
		position: relative;
		top: -65px;

		text-align: right;
		display: block;
		
		.background {
			display: inline;
			padding: 20px 10px 5px 10px;
			
			background: #fff;
			border: solid 1px #000;
			
			#bundle > .borderradius;
			#bundle > .dropshadow(#000, 5px, 10px);
		}
	}
}

footer {
	margin-top: (@footerheight * -1) - 20px;
	padding: 10px 20px;
	height: @footerheight - 1;
	clear: both;
	
	background: @canvascolor;
	
	color: #fff;
	text-align: center;
	line-height: @footerheight;
	
	-webkit-box-shadow: 0 10px 10px darken(@canvascolor, 10%) inset;
	-moz-box-shadow: 0 10px 10px darken(@canvascolor, 10%) inset;
	box-shadow: 0 10px 10px darken(@canvascolor, 10%) inset;
	
	border-top: solid 1px darken(@canvascolor, 13%);
}
.spacer {
	clear: both;
}

p {
	margin: 1em 0;
}

hr {
	height: 20px;
	width: 100%;
	
	background: none;
	border: none;
	border-bottom: dashed 1px @basecolor;
}

ul {
	padding-left: 20px;
	
	li {
		list-style-image: url(../images/killeradmin/bullet-star.png);
	}
}

/**************************************/
/* tooltip
/**************************************/

.confirm {
	position: absolute;
	z-index: 3000;
	background-color: #eee;
	border: solid 1px darken(#eee, 10%);
	padding: 0.3em 0.8em;

	#bundle > .dropshadow(rgba(0,0,0,0.1), 3px, 6px);
	
	text-shadow: 1px 1px 0 #ffffff;
	
	h3 { 
		margin: 0;
		color: #555555;
		font-size: 1em;	
	}
	
	span {
		display: block;
	}
}

/**************************************/
/* pagination
/**************************************/

.pagination {
	a {
		padding: 0 0.1em;
	}
}



/**************************************/
/* icons
/**************************************/


img.icon {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	
	&.soft.arrow.up {
		background:url(../images/killeradmin/arrow-up-soft.png);
		&:hover {
			background:url(../images/killeradmin/arrow-up.png);
		}
	}
	&.soft.arrow.down {
		background:url(../images/killeradmin/arrow-down-soft.png);
		&:hover {
			background:url(../images/killeradmin/arrow-down.png);
		}
	}
	&.arrow.up {
		background:url(../images/killeradmin/arrow-up.png);
	}
	&.arrow.down {
		background:url(../images/killeradmin/arrow-down.png);
	}
	&.bin {
		background:url(../images/killeradmin/bin.png);
	}
	&.bullet-star {
		background:url(../images/killeradmin/bullet-star.png);
	}
	&.cog {
		background:url(../images/killeradmin/cog.png);
	}
	&.cross {
		background:url(../images/killeradmin/cross.png);
	}
	&.funnel {
		background:url(../images/killeradmin/funnel.png);
	}
	&.info {
		background:url(../images/killeradmin/info.png);
	}
	&.message {
		background:url(../images/killeradmin/message.png);
	}
	&.open-door {
		background:url(../images/killeradmin/open-door.png);
	}
	&.pencil {
		background:url(../images/killeradmin/pencil.png);
	}
	&.plus {
		background:url(../images/killeradmin/plus.png);
	}
	&.tick {
		background:url(../images/killeradmin/tick.png);
	}
	&.save {
		background:url(../images/killeradmin/save.png);
	}
	&.star {
		background:url(../images/killeradmin/star.png);
	}

}
