@gray: #bbb;

form {
	p {
		border-bottom: dashed 1px @gray;
		
		padding-bottom: 0.5em;
		margin-bottom: 2em;	
	}
	
	small {
		display: block;
		margin: -1.45em 0 1.5em 50%;
		padding-left: 1em;
		width: 40%;
		color: #555;
	}
	span.info {
		display: block;
		margin: 0 0 1.5em 50%;
		padding-left: 1em;
	}
}

fieldset {
	border:1px solid @lighter2;
	margin:0 0 1.5em;
	padding:1.4em;
	
	&.rounded {
		#bundle > .borderradius;
	}
	
	legend {
		color: @darker2;
		font-weight: bold;
		font-size: 1.1em;
		
		padding: 0 1em;
	}
}

label {
	font-weight: bold;
	text-align: right;
	
	display:block;
	float:left;
	width: 50%;
	
	min-height: 3em;
	
	padding-right: 1em;
	
	&.error {
		padding: 0 1em;		
		margin: 0 0 1.5em 53%;
		float: none;		
		width: 36%;
		
		text-align: left;
		font-weight: normal;
		min-height: 1.5em;
		
		color: #ffffff;
		
		background: #ff0000;
	}

	span, small {
		display:block;
		margin: 0 0 1em -1em;
		
		color: @gray;
		font-size: 0.85em;
		font-weight:normal;
		text-align:right;
		width: 100%;
	}
}

textarea, input[type='text'], input[type='password'],select { 
	border: 1px solid @gray;
	background:url(../images/killeradmin/input-bg.png) top left no-repeat;
	
	padding: 0.6em 0.3em 0.3em 0.6em;
	
	#bundle > .borderradius;
	
	&:hover {
		border-color: darken(@gray, 20%);
	}
	&:focus {
		border-color: spin(@basecolor, 180); 
		outline: 2px solid spin(@basecolor, 180); 
	}
	
}

input[type='text'],input[type='password'], textarea, select {
	margin-bottom: 1.5em;
	width: 40%;
	
	&.error {
		border: solid 1px #ff0000;
		margin-bottom: 0;
	}
	&.error:focus {
		outline: 2px solid #ff0000; 
	}
}

input[type='checkbox'] {
	clear: right;
	margin-right: 1em;
	&.last {
		margin-bottom: 1.5em;	
	}
}

input, select {
	cursor: pointer;
}
input[type='text'], input[type='password'] { 
	cursor: text; 
}

.button.bar {
	width: 100%;
	text-align: center;	
	clear: both;
}