/**************************************/
/* the grid
/**************************************/
div#container, div.container { 
	position: relative; 
	margin: 0 auto; 
	padding: 20px; 
}


.row { 
	width: 100%;
	max-width: 1140px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}

.table {
	margin: 2em 2px;
	border: solid 1px #ddd;
	
	.row {
		padding: 0.5em 0;
		
		.columns {
			&.tools {
				cursor: default;
				white-space: nowrap;
				img {
					margin: 0 0.2em;
				}
			}
			&:first-child {
				margin-left: 1%;
				margin-right: 2.8%;
			}
		}
		
		&.even, &:nth-child(even) {
			background: #eee;
		}
		&.odd, &:nth-child(odd) {
			background: #F9F9F9;
		}
		&:hover {
			background: @lighter1;
		}
		
		&.filter{
			input {
				width: 85%;
				margin-bottom: 0;
			}
			&:hover {
				background: #F9F9F9;
			}
		}
		
		&.header {
			background: @darker1;
		
			font-weight: bold;
			text-shadow: 1px 1px 0 @darker2;
			color: #fff;
			padding: 1em 0;
			
			border-bottom: solid 1px @darker1;
			
		}
		
	}
}
 
.columns {
	float: left; 
	display: inline; 
	margin: 0 2% 0 0;
	min-height: 1px;
	
	&.last {
		margin-right: 0;
	}
	&.nowrap {
		white-space: nowrap;
	}
	img {
		max-width: 100%;
	}
	
	&.one {width:2.167%;}
	&.two {width:6.333%;}
	&.three {width:10.5%;}
	&.four {width:14.667%;}
	&.five {width:18.833%;}
	&.six {width:23.0%;}
	&.seven {width:27.167%;}
	&.eight {width:31.333%;}
	&.nine {width:35.5%;}
	&.ten {width:39.667%;}
	&.eleven {width:43.833%;}
	&.twelve {width:48.0%;}
	&.thirteen {width:52.167%;}
	&.fourteen {width:56.333%;}
	&.fiveteen {width:60.5%;}
	&.sixteen {width:64.667%;}
	&.seventeen {width:68.833%;}
	&.eighteen {width:73.0%;}
	&.nineteen {width:77.167%;}
	&.twenty {width:81.333%;}
	&.twentyone {width:85.5%;}
	&.twentytwo {width:89.667%;}
	&.twentythree {width:93.833%;}
	&.twentyfour {width:98.0%; float: left;}
	
	&.prefix-1 {margin-left:4.167%;}
	&.prefix-2 {margin-left:8.333%;}
	&.prefix-3 {margin-left:12.5%;}
	&.prefix-4 {margin-left:16.667%;}
	&.prefix-5 {margin-left:20.833%;}
	&.prefix-6 {margin-left:25.0%;}
	&.prefix-7 {margin-left:29.167%;}
	&.prefix-8 {margin-left:33.333%;}
	&.prefix-9 {margin-left:37.5%;}
	&.prefix-10 {margin-left:41.667%;}
	&.prefix-11 {margin-left:45.833%;}
	&.prefix-12 {margin-left:50.0%;}
	&.prefix-13 {margin-left:54.167%;}
	&.prefix-14 {margin-left:58.333%;}
	&.prefix-15 {margin-left:62.5%;}
	&.prefix-16 {margin-left:66.667%;}
	&.prefix-17 {margin-left:70.833%;}
	&.prefix-18 {margin-left:75.0%;}
	&.prefix-19 {margin-left:79.167%;}
	&.prefix-20 {margin-left:83.333%;}
	&.prefix-21 {margin-left:87.5%;}
	&.prefix-22 {margin-left:91.667%;}
	&.prefix-23 {margin-left:95.833%;}
}

/* Clear the columns automagically, thanks @kneath */
.column-row:after, .row:after, .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .column-row, * html .row, * html .clearfix { height: 1%; }
.column-row, .row, .clearfix { display: inline-block; }
.column-row, .row, .clearfix { display: block; }
