@basecolor: #ccc; //red

@import 'bundle.less';
@import 'grid.less';

body {
        font-family: Georgia, serif;
        background: none;
        color: black;

        width: 100%;
        margin: 0; padding: 0;
}

header {
	h1 {
		margin: 0;	
	}
}

form.table {
	margin: 0;
}


footer, nav, .filter.row {
	display: none;
}